* {
  font-family: "Roboto", arial, sans-serif;
}

/*===============
    start  placeholder
===============*/
header nav .container .row .nav-links ul li.link .box ul li, header nav .container .row .nav-links ul li.link::before, header nav .container .row .nav-links ul li.link, header nav .container .row .brand img, header .top-nav i:hover, header .top-nav a:hover, header .top-nav span:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/*************
    body
*************/
body {
  position: relative;
}

/*************
    ul
*************/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*************
    section
*************/
section {
  padding: 100px 0;
}

/*************
    a (link)
*************/
a {
  outline: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

.capitlize {
  text-transform: uppercase;
}

/*
=======================
===== global style ====
=======================
*/
a {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

body {
  height: 2000px;
}

/*
=======================
===== start header ====
=======================
*/
header {
  width: 100%;
  color: #fff;
  line-height: 50px;
  font-size: 13px;
}
header .top-nav {
  /*
  =======================
  ===== start top-nav ====
  =======================
  */
  background-color: #110133;
}
header .top-nav i:hover, header .top-nav a:hover, header .top-nav span:hover {
  color: #4dd599;
}
header .top-nav .contact div {
  display: inline-block;
  margin-right: 30px;
}
header .top-nav .contact div i {
  color: #4dd599;
  margin-right: 7px;
}
header .top-nav .social a:not(:last-of-type) {
  margin-right: 20px;
}
header nav {
  /*
  =======================
  ===== start header ====
  =======================
  */
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 3px 0 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 0 7px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 3px 0 7px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 3px 0 7px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.3);
}
header nav .container {
  height: 100%;
}
header nav .container .row {
  position: relative;
}
header nav .container .row .brand {
  display: flex;
  align-items: center;
}
header nav .container .row .nav-links {
  position: static;
}
header nav .container .row .nav-links ul {
  position: relative;
}
header nav .container .row .nav-links ul li.link {
  float: right;
  padding: 30px 0;
  font-size: 16px;
  display: inline-block;
  color: black;
  text-transform: uppercase !important;
  margin-left: 20px;
  position: relative;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  cursor: pointer;
}
header nav .container .row .nav-links ul li.link.active {
  color: #86bc42;
  font-weight: bold;
}
header nav .container .row .nav-links ul li.link:hover, header nav .container .row .nav-links ul li.link.active {
  color: #86bc42;
}
header nav .container .row .nav-links ul li.link:hover::before, header nav .container .row .nav-links ul li.link.active::before {
  width: 100%;
}
header nav .container .row .nav-links ul li.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 5px;
  background-color: #86bc42;
}
header nav .container .row .nav-links ul li.link .box {
  display: none;
  right: 0;
  padding-right: 20px;
  position: absolute;
  min-width: 200px;
  color: black;
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 5px solid #86bc42;
  z-index: 1;
  -webkit-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3);
}
header nav .container .row .nav-links ul li.link .box ul li:hover {
  padding-right: 10px;
}
@media (min-width: 992px) {
  header nav .container .row .nav-links {
    display: block !important;
  }
}
@media (max-width: 991px) {
  header nav .container .row .nav-links {
    -webkit-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
  }
  header nav .container .row .nav-links ul {
    height: 100%;
    width: 100%;
    float: right;
  }
  header nav .container .row .nav-links ul li.link {
    padding: 0 !important;
    margin: 0;
    display: block;
    float: none;
  }
  header nav .container .row .nav-links ul li.link:not(:last-of-type) {
    border-bottom: 1px solid #dedede;
  }
  header nav .container .row .nav-links ul li.link::before {
    height: 0;
  }
  header nav .container .row .nav-links ul li.link a i {
    float: left;
    position: relative;
    top: 19px;
  }
  header nav .container .row .nav-links ul li.link .box {
    position: relative;
    border-bottom: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
}
header nav .container .row .bars {
  display: none;
  color: #86bc42;
  font-size: 30px;
  cursor: pointer;
}
@media (max-width: 991px) {
  header nav .container .row .bars {
    display: block;
  }
}

/*# sourceMappingURL=app.css.map */
