
* {
    text-transform: capitalize;
    font-family: 'Roboto', arial, sans-serif;
}
/*===============
    start  placeholder
===============*/
%transition{
    @include prefixer(transition, all .2s ease, webkit moz o);
}

%vertical-center{
    @include vertical-center()
}

/*************
    body
*************/
body {
    position: relative;
}

/*************
    ul
*************/
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*************
    section
*************/
section {
    padding: 100px 0;
}

/*************
    a (link)
*************/
a {
    outline: none;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

.capitlize {
    text-transform: uppercase;
}
