doctype
html
    head
        meta(charset="UTF-8")
        meta(meta name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="HTML,CSS,XML,JavaScript")
        meta(name="author" content="MR. Loll")
        title Tinker
        link(rel="stylesheet" href="css/all.min.css" type="text/css")
        link(rel="stylesheet" href="css/bootstrap.min.css" type="text/css")
        link(rel="stylesheet" href="css/app.css" type="text/css")
    body
    P WALID ELLOLL









    script(src="js/jQuery-3-4-1.min.js")
    script(src="js/app.js")
