doctype
html
    head
        meta(charset="UTF-8")
        meta(meta name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="HTML,CSS,XML,JavaScript")
        meta(name="author" content="MR. Loll")
        title Tinker
        link(rel="stylesheet" href="css/all.min.css" type="text/css")
        link(rel="stylesheet" href="css/bootstrap.min.css" type="text/css")
        link(rel="stylesheet" href="css/app.css" type="text/css")
    body
        //==========================
        //====== start header=======
        //==========================
        header
            .top-nav
                .container
                    .row
                        .contact.col-12.col-lg-6.text-center.text-lg-left
                            .mail                            
                                a(href="mailto:walidelloll2018@gmail.com") <i class="far fa-envelope"></i> walidelloll2018@gmail.com
                            .phone
                                <i class="fas fa-phone"></i>
                                span +201005037275
                        .social.col-12.col-lg-6.text-center.text-lg-right
                            <a href="http://facebook.com" class="facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="http://google.com" class="facebook" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                            <a href="http://twitter.com" class="facebook" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="http://dribble.com" class="facebook" target="_blank"><i class="fas fa-basketball-ball"></i></a>
                            <a href="http://pinterest.com" class="facebook" target="_blank"><i class="fab fa-pinterest"></i></a>
                            <a href="http://instagram.com" class="facebook" target="_blank"><i class="fab fa-instagram"></i></a>
                
                //==========================
                //====== start nav bar=======
                //==========================
            nav
                .container
                    .row
                        .brand.col-3
                            .img
                                img(class="img-fluid" src="images/logo-1.png")
                        .nav-links.col-12.col-lg-9.text-right
                            ul 
                                li(class="active link") 
                                    a(href="#") الصفحة الرئيسيه
                                li(data-class=".courses").link 
                                    a(href="#") <i class="fas fa-chevron-down"></i>  الكورسات
                                    .box.courses
                                        ul
                                            li الكورس الاول
                                            li الكورس الثاني
                                            li الكورس الثالث

                                li(data-class=".news").link
                                    a(href="#") <i class="fas fa-chevron-down"></i>  اخر الاخبار
                                    .box.news
                                        ul
                                            li الخبر الاول
                                            li الخبر الثاني
                                            li الخبر الثالث
                                    
                                li(data-class=".elements").link
                                    a(href="#") <i class="fas fa-chevron-down"></i>  العناصر 
                                    .box.elements
                                        ul
                                            li العنصر الاول
                                            li العنصر الثاني
                                            li العنصر الثالث

                                li.link
                                    a(href="#") المتجر

                                li.link
                                    a المنتدي
                        .bars.col.text-right
                            <i class="fas fa-bars"></i>
                            











    script(src="js/jQuery-3-4-1.min.js")
    script(src="js/app.js")
